<div align="center">

<h3>Most Recent Bookings -</h3>
<ol><% @bookings.reverse_each do |booking|%>
    <% if @user.id == booking.user_id  %>
    <li>Starting Date - <%=booking.start_date%>
    <br> Ending Date - <%=booking.end_date%>
    <br> Comment: <%=booking.comment%>
    <br><br>
    <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger m-2 p-3" %>
    </li>
    <br><br>
    <% end %>
    <% end %>
</ol>
<%= link_to "Back", cars_path %>
<div>

<!--
Search HTML
<%= form_tag bookings_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a booking"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>  -->
