<div align="center">
<h1>My Bookings (<%=@bookings.count %>)</h1>

<ol><% @bookings.reverse_each do |booking|%>
    <% if @user.id == booking.user_id  %>
    <h3>Most Recent Bookings</h3>
    <li>Starting Date - <%=booking.start_date%>
    <br> Ending Date - <%=booking.end_date%>
    <br> Comment: <%=booking.comment%> 
    <br><br>
    <%= link_to "Cancel Booking", car_destroy_path(@car, booking), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
    <br><br>
    <% end %>
    <% end %>
</ol>
<%= link_to "Back", cars_path %>
<div>
