<%= simple_form_for [@car, @booking], method: :post do |f| %>
<%= f.input :start_date %>
<%= f.input :end_date %>
<%= f.input :comment %>
<div align="center">
<%= f.button :submit, "Book Me" , class: "btn btn-success" %>
<% end %>
 &nbsp &nbsp
<%= link_to "Back", car_path(@car), class: "btn btn-secondary" %>

</div>