<div class="navbar navbar-expand navbar-light navbar-lewagon" id="navbar">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo.png"%>
  <% end %>

  <div class="container">
    <h1><strong>RentMe</strong> brings <strong>You</strong> the best affordable <strong>CARS</strong>!</h1>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", cars_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Bookings", bookings_path , class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://media-exp1.licdn.com/dms/image/C4E03AQGTzvgHw8ZB4g/profile-displayphoto-shrink_800_800/0/1528730361141?e=1642032000&v=beta&t=halv98PREIV3D7nd54y3V-OSoS-QkSobKi--rBrigRc", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item" id="login">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item" id="login">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>




