<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80">
  <div class="container-banner">
    <p>Quick, Easy, Reliable car renting experience in Mauritius.</p>
  <div align="center">  <%= link_to "Book Me", new_user_session_path, class:"btn btn-flat" %> </div>
  </div>
</div>
<div align="center"><h1>Our best deals</h1></div>


  <div class="d-flex">
<div class= "container d-flex justify-content-around">
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1599135343721-6c8d4c1b8b58?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1385&q=80">
  <div class="centered"><%= link_to "Lamborghini", " ", class: "nav-link" %></div>
  <div class="card-trip-infos">
    <div class="nav-item">
      <p>Fuel-Comsumption: 12L/100km, Engine:3.0L V6</p>
      <p>Transmission: Automatic</p>
    </div>
    <h2 class="card-trip-pricing">$200</h2>
  </div>
</div>
</div>

<div class= "container d-flex justify-content-around">
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1614026480241-23ba865d1ad0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80">
  <div class="centered"><%= link_to "Lamborghini", " ", class: "nav-link" %></div>
  <div class="card-trip-infos">
    <div class="nav-item">
      <p>Fuel-Comsumption: 12L/100km, Engine:3.0L V6</p>
      <p>Transmission: Automatic</p>
    </div>
    <h2 class="card-trip-pricing">$1000</h2>
  </div>
</div>
</div>

<div class= "container d-flex justify-content-around">
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1635974065147-4a72851190ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
  <div class="centered"><%= link_to "Lamborghini", " ", class: "nav-link" %></div>
  <div class="card-trip-infos">
    <div class="nav-item">
      <p>Fuel-Comsumption: 12L/100km, Engine:3.0L V6</p>
      <p>Transmission: Automatic</p>
    </div>
    <h2 class="card-trip-pricing">$500</h2>
  </div>
</div>
</div>
 </div>
</div>

<br>

<div class="d-flex">
<div class= "container d-flex justify-content-around">
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1599135343721-6c8d4c1b8b58?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1385&q=80">
  <div class="centered"><%= link_to "Lamborghini", " ", class: "nav-link" %></div>
  <div class="card-trip-infos">
    <div class="nav-item">
      <p>Fuel-Comsumption: 12L/100km, Engine:3.0L V6</p>
      <p>Transmission: Automatic</p>
    </div>
    <h2 class="card-trip-pricing">$200</h2>
  </div>
</div>
</div>

<div class= "container d-flex justify-content-around">
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1614026480241-23ba865d1ad0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80">
  <div class="centered"><%= link_to "Lamborghini", " ", class: "nav-link" %></div>
  <div class="card-trip-infos">
    <div class="nav-item">
      <p>Fuel-Comsumption: 12L/100km, Engine:3.0L V6</p>
      <p>Transmission: Automatic</p>
    </div>
    <h2 class="card-trip-pricing">$1000</h2>
  </div>
</div>
</div>

<div class= "container d-flex justify-content-around">
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1635974065147-4a72851190ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
  <div class="centered"><%= link_to "Lamborghini", " ", class: "nav-link" %></div>
  <div class="card-trip-infos">
    <div class="nav-item">
      <p>Fuel-Comsumption: 12L/100km, Engine:3.0L V6</p>
      <p>Transmission: Automatic</p>
    </div>
    <h2 class="card-trip-pricing">$500</h2>
  </div>
</div>
</div>
 </div>
</div>
