<p id="list">List of cars</p>

<div class="d-flex row">
<% @cars.each do |car| %>
  <div class= "col-sm container d-flex justify-content-around m-3 ">
    <div class="card-trip">
      <%= cl_image_tag car.photo.key, height: 300, crop: :fill %>
      <div class="centered"><%= link_to car.make, car_path(car), class: "nav-link" %></div>
        <div class="card-trip-infos">
          <div class="nav-item">
            <p><%= car.details %></p>
            <p>Transmission: <%= car.Transmission %></p>
          </div>
            <h2 class="card-trip-pricing">$<%= car.price %></h2>
          </div>
        </div>
      </div>
    <% end %>
</div>


